@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

*{
    width: 1fr;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgb(198, 166, 86);

}

h1{
    text-decoration: none;
    font-size: 80px;
    color: rgb(173, 6, 6);
    font-weight: bold;
    font-family: "Tangerine", cursive;
    text-align: center;
}

body {
    background-color: rgb(198, 166, 86);
}

nav{
    background-color: rgb(173, 6, 6);
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tangerine", cursive;
}

#linklist {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-size: 50px;
    color: rgb(198, 166, 86);
    font-weight: bold;
}

#section1{
    grid-area: sec1;
}
p {
    text-align: center;
}

#section2{
    grid-area: sec2;
}

#section3{
    grid-area: sec3;
}
#skriv{
    grid-area: skriv;
}

#bibliotek{
    grid-area: bibliotek;
}

#flygbok{
    grid-area: flygbok;
}

.bildmain{
    width: 420px;
    height: 300px;
    background-size: contain;
}


#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 40px 1fr;
    grid-template-areas: 
    "nav nav nav"
    "bibliotek flygbok skriv"
    "sec1 sec2 sec3"
    ;
}

.boktitlar{
    height: 300px;
}

#review {
    display: grid;
}
