@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;


    --burgerline_width: 30px;
    --burgerline_height: 5px;
    --burgerline_margin: 6px;

    --background_color: rgb(173, 6, 6);

}

h1 {
    text-decoration: none;
    font-size: 80px;
    color: rgb(173, 6, 6);
    font-weight: bold;
    font-family: "Tangerine", cursive;
    text-align: center;
}

body {
    background-color: rgb(198, 166, 86);
}

header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: hea;
    height: 80px;
    background-color: rgb(198, 166, 86);
}

nav {
    background-color: rgb(173, 6, 6);
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tangerine", cursive;
}


#linklist {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 50px;
    color: rgb(198, 166, 86);
    font-weight: bold;
}

.bildmain {
    width: 410px;
    height: 300px;
    background-size: contain;
}

.boktitlar {
    height: 300px;
}

#review {
    display: grid;
}

#grid_body {
    display: grid;
    width: 100vw;
    grid-template-rows: minmax(0, 80px) minmax(0, 100px) minmax(0, 1fr);
    grid-template-areas:
    "hea"
    "nav"
    "mai"
    ;
}

#grid_index {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "im1 im2 im3"
        "se1 se2 se3"
    ;
}

#grid_index * {
    padding: 0 10px 0 10px;
}

p{
    background-color: rgb(252, 231, 208);
    border: 4px;
    border-color: rgb(173, 6, 6);
    border-style: solid;
    border-radius: 10px;
}

#section_1 {
    text-align: center;
    grid-area: se1;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

#section_2 {
    text-align: center;
    grid-area: se2;
    padding-top: 20px;

}

#section_3 {
    text-align: center;
    grid-area: se3;
    padding-top: 20px;

}

#image_1 {
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: im1;
}


#image_2 {
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: im2;
}

#image_3 {
    padding-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: im3;
}

#main {
    grid-area: mai;
}


.card_grid {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(0, 1fr) 1fr;
    grid-template-areas:
        "img txt"
    ;
}

.card {
    border: 4px solid;
    height: 500px;
    overflow: hidden;
    background-color: rgb(252, 231, 208);
}

.korg:hover{
    background-color: rgb(173, 6, 6);
    color: rgb(252, 231, 208) ;
}

#fottext{
    border-width: 2px;
}

.kop:hover{
    background-color: rgb(173, 6, 6);
    color: rgb(252, 231, 208) ;
}

.card_img {
    grid-area: img;
    padding: 10px;
    height: 100%;
    align-self: center;
    overflow: hidden;
}

.card_txt {
    overflow: hidden;
    padding: 20px 20px 20px 10px;
    grid-area: txt;
    text-align: start;
    border: 0px;
    border-radius: 0px;
}

.card_img_w {
    width: 100%;
}

.card_img_h {
    height: 100%;
}

.cards {
    padding-top: 30px;
    max-width: calc(100vw - 40px);
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.omossbild {
    width: 100%;
}

#red_bokbild {
    display: flex;
    justify-content: center;
    overflow: hidden;
    grid-area: redbild;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#red_boktext {
    grid-area: redtext;
    background-color: rgb(252, 231, 208);
    display: flex;
    border-style: solid;
    border-color: crirgb(173, 6, 6)mson;
    border-radius: 4px;
    border-width: 4px;
    border-top: 0px;
    justify-content: center;
    overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#butiktext {
    background-color: rgb(252, 231, 208);
    border-style: solid;
    border-color: rgb(173, 6, 6);
    border-radius: 4px;
    border-width: 4px;
    border-bottom: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    grid-area: buttext;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

#butikbild {
    display: flex;
    justify-content: center;
    overflow: hidden;
    grid-area: butbild;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}




#omoss {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
        "redbild buttext"
        "redtext butbild"
    ;
}

.sellbok {
    width: 250px;
    height: auto;
}

#salj1 {
    grid-area: salj1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salj2 {
    grid-area: salj2;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


#salj3 {
    grid-area: salj3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart {
    height: 50px;
}

#foot {
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot {
    grid-area: foot;
}

#sell {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
    "salj1 salj2 salj3"
    "foot foot foot";
}


/* hamburgare */

#burger_menu {
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: monospace;
}

#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -100vh;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.links_visible {
    transform: translateY(100vh);
}

#link_list a {
    text-decoration: none;
    color: rgb(252, 231, 208);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#link_list a:hover {
    background: rgb(252, 231, 208);
    color: rgb(173, 6, 6);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: rgb(252, 231, 208);
    border-radius: 30px;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc((var(--burgerline_height) + var(--burgerline_margin)))) rotate(45deg);
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#burger {
    display: none;
    position: fixed;
    top: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    /* burgare */
    #linklist {
        display: none;
    }

    nav {
        display: none;
        height: 0;
    }

    #burger {
        display: block;
    }


    #grid_index {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "im1"
            "se1"
            "im2"
            "se2"
            "im3"
            "se3"
        ;
    }

    #omoss {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "redbild"
            "redtext"
            "butbild"
            "buttext"
        ;
    }

    #red_bokbild {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }

    #red_boktext {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    #butikbild {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    #butiktext {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
    }


    .card_grid {
        margin: 0;
        padding: 0;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "img"
            "txt"
        ;
        overflow-x: visible;
    }

    .card {
        border: none;
        width: 100vw;
        padding: 0px;
    }

    .card_img {
        grid-area: img;
        padding: 10px;
        width: 100%;
        align-self: auto;

    }

    .card_txt {
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        grid-area: txt;
        text-align: start;

    }

    .cards {
        padding-top: 0px;
        max-width: auto;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: visible;
    }



    #sell {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 100px;
        grid-row-gap: 20px;
        grid-template-areas:
        "salj1" 
        "salj2" 
        "salj3"
        "foot";
    }
}